html {
  min-height: 100vh;
}

body {
  background: var(--primary-bg);
  padding: 30px 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, color 0.3s;

  display: flex;
  flex-direction: column;

  height: 100vh;
}

body > div {
  max-width: 1440px;
  width: 100%;
}
