.button {
  padding: 18px;
  width: 100%;
}

.ghost {
  border-radius: var(--radius-15);
  background-color: var(--input-bg);

  transition: opacity 0.5s;
}

.ghost:hover {
  opacity: 0.7;
}

@media (width <= 768px) {
  .button {
    font-size: 14px;
  }
}
