.title {
  color: var(--font-white-secondary);
}

.s {
  font-weight: var(--font-400);
  font-size: var(--font-30);
}

.m {
  font-weight: var(--font-400);
  font-size: var(--font-35);
  color: var(--font-white-primary);
}

.l {
  font-weight: var(--font-500);
  font-size: var(--font-50);
}

.xl {
  font-weight: var(--font-500);
  font-size: var(--font-60);
}

@media (width <=768px) {
  .s {
    font-size: var(--font-20);
  }

  .m {
    font-size: var(--font-25);
  }

  .l {
    font-size: var(--font-30);
  }

  .xl {
    font-size: var(--font-35);
  }
}
