.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 30px;

  margin-bottom: 50px;
}

.date {
  color: var(--font-white-secondary);
  font-weight: var(--font-400);
  font-size: var(--font-20);
  text-transform: capitalize;
}

.search {
  width: 100%;
  max-width: 512px;
}

.tuneText {
  font-weight: var(--font-400);
  font-size: var(--font-20);
  color: var(--font-white-primary);
}

@media (width <= 1394px) {
  .search {
    order: 1;
  }
}

@media (width <= 768px) {
  .tuneText {
    display: none;
  }
}
