.header {
  width: 100%;
  margin-bottom: 42px;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.actionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.actions {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.date {
  color: var(--font-white-secondary);
  font-weight: var(--font-400);
  font-size: var(--font-20);
  text-transform: capitalize;
}

.search {
  flex: 1;
  min-width: 512px;
}

.tuneText {
  font-weight: var(--font-400);
  font-size: var(--font-20);
  color: var(--font-white-primary);
}

.loginLink {
  padding: 18px;
  border-radius: var(--radius-15);
  background-color: var(--input-bg);

  transition: opacity 0.5s;
  text-align: center;
}

.loginLink:hover {
  opacity: 0.7;
}

@media (width <= 1024px) {
  .search {
    order: 1;
    min-width: auto;
  }

  .tuneText {
    display: none;
  }
}

@media (width <= 768px) {
  .search {
    flex-basis: 100%;
  }

  .loginLink {
    font-size: 14px;
  }

  .date {
    font-size: var(--font-14);
  }
  .header {
    gap: 20px 10px;
    margin-bottom: 30px;
  }
}

@media (width <= 320px) {
  .actions {
    flex-direction: column;
    gap: 10px;
  }
}
