.loginForm {
  max-width: 400px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.enterButton {
  width: 248px;
  border-radius: 29px;
}

.navActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--font-ghost);
}

.navActions > a {
  color: var(--white);
}
