.inputBox {
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  border-radius: var(--radius-15);

  color: var(--white);
  font-size: var(--font-15);
  font-weight: var(--font-400);

  padding: 18px 64px;
  background-color: var(--input-bg);
}

.input::placeholder {
  color: var(--font-ghost);
}

.input:focus {
  outline-color: var(--white);
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  left: 28px;
  top: 14px;
}

.error {
  color: var(--error);
}
