.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;

  hyphens: auto;
  font-weight: var(--font-400);
  font-size: var(--font-18);

  margin-bottom: 43px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width <=964px) {
  .middle {
    justify-content: center;
    margin-bottom: 20px;
  }

  .image {
    display: none;
  }
  .text {
    display: none;
  }
  .firstParagraph {
    margin-bottom: 20px;
  }
}
