.search {
  position: relative;
  flex: 1;
  min-width: 512px;
}

.suggestWrapper {
  position: absolute;
  right: 0;
  top: 74px;
  background: var(--primary-bg);
  height: 350px;
  width: 100%;

  border-radius: var(--radius-15);
}

@media (width <= 1024px) {
  .search {
    order: 1;
    min-width: auto;
  }

  .tuneText {
    display: none;
  }
}

@media (width <= 768px) {
  .search {
    flex-basis: 100%;
  }

  .date {
    font-size: var(--font-14);
  }
  .header {
    gap: 20px 10px;
  }
}
